.donasi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donasi-donasi {
  width: 100%;
  height: 1512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.donasi-peta {
  top: 923px;
  left: 0px;
  width: 1024px;
  height: 286px;
  position: absolute;
}
.donasi-text {
  top: 860px;
  left: 393px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card {
  top: 192px;
  left: 89px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle642 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle641 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text002 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text004 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text006 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text008 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text009 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text011 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text013 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text015 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card1 {
  top: 484px;
  left: 687px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle6421 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle6411 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate1 {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text017 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur1 {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text019 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text021 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event1 {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text023 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text024 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target1 {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul1 {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text026 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text028 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text030 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card2 {
  top: 484px;
  left: 391px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle6422 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle6412 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate2 {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text032 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur2 {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text034 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text036 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event2 {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text038 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text039 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target2 {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul2 {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text041 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text043 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text045 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card3 {
  top: 484px;
  left: 89px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle6423 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle6413 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate3 {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text047 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur3 {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text049 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text051 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event3 {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text053 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text054 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target3 {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul3 {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text056 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text058 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text060 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card4 {
  top: 192px;
  left: 687px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle6424 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle6414 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate4 {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text062 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur4 {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text064 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text066 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event4 {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text068 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text069 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target4 {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul4 {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text071 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text073 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text075 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-card5 {
  top: 192px;
  left: 388px;
  width: 250px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-rectangle6425 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 237px;
  position: absolute;
  border-radius: 20px;
}
.donasi-rectangle6415 {
  top: 40px;
  left: 0px;
  width: 250px;
  height: 197px;
  position: absolute;
  border-radius: 20px;
}
.donasi-kotak-donate5 {
  top: 187px;
  left: 65px;
  width: 120px;
  height: 35px;
  position: absolute;
  border-radius: 20px;
}
.donasi-text077 {
  top: 191px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-donatur5 {
  top: 143px;
  left: 133px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text079 {
  top: 142px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text080 {
  top: 116px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-kotak-event5 {
  top: 143px;
  left: 13px;
  width: 105px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text082 {
  top: 143px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text083 {
  top: 119px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-target5 {
  top: 80px;
  left: 13px;
  width: 225px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-terkumpul5 {
  top: 80px;
  left: 13px;
  width: 121px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
}
.donasi-text085 {
  top: 52px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text087 {
  top: 8px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text089 {
  top: 79px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-rectangle619 {
  top: 76px;
  left: 356px;
  width: 83px;
  height: 4px;
  position: absolute;
}
.donasi-footer {
  top: 1208px;
  left: 0px;
  width: 1024px;
  height: 304px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.donasi-ioncall {
  top: 194px;
  left: 747px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.donasi-text091 {
  top: 122px;
  left: 280px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text093 {
  top: 88px;
  left: 280px;
  color: rgba(240, 240, 240, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text095 {
  top: 63px;
  left: 751px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text097 {
  top: 118.82177734375px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text099 {
  top: 161px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text101 {
  top: 203.101806640625px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-line104 {
  top: 53px;
  left: 679px;
  width: 193px;
  height: 1px;
  position: absolute;
}
.donasi-text103 {
  top: 248px;
  left: 141px;
  color: rgba(240, 240, 240, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-template1x1lh322 {
  top: 13px;
  left: 31px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.donasi-vector {
  top: 248px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.donasi-vector1 {
  top: 112px;
  left: 750px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.donasi-vector2 {
  top: 155px;
  left: 750px;
  width: 25px;
  height: 19px;
  position: absolute;
}
.donasi-headerafterlogin {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.donasi-akun-profile {
  top: 23px;
  left: 817px;
  width: 118px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.donasi-bipersoncircle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.donasi-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.donasi-vector3 {
  top: 4.5px;
  left: 7.5px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.donasi-vector4 {
  top: 4.440892098500626e-16px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.donasi-text105 {
  top: 2px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text107 {
  top: 22px;
  left: 92px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-template1x1lh324 {
  top: 13px;
  left: 39px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.donasi-text109 {
  top: 31px;
  left: 390px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text111 {
  top: 31px;
  left: 311px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text113 {
  top: 31px;
  left: 458px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text115 {
  top: 31px;
  left: 573px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donasi-text117 {
  top: 31px;
  left: 664px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
