.formdonasi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.formdonasi-formdonasi {
  width: 100%;
  height: 1603px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.formdonasi-rectangle611 {
  top: 178px;
  left: 176px;
  width: 672px;
  height: 1068px;
  position: absolute;
  border-color: rgba(7, 22, 51, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.formdonasi-text {
  top: 1397px;
  left: 748px;
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: underline;
}
.formdonasi-text02 {
  top: 222px;
  left: 435px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1744 {
  top: 114px;
  left: 48px;
  width: 251px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.formdonasi-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.formdonasi-text06 {
  left: 133px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.formdonasi-text08 {
  left: 108px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.formdonasi-text09 {
  top: 294px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text11 {
  top: 694px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text13 {
  top: 412px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text15 {
  top: 812px;
  left: 266px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-rectangle614 {
  top: 328px;
  left: 263px;
  width: 498px;
  height: 50px;
  position: absolute;
  border-radius: 10px;
}
.formdonasi-rectangle615 {
  top: 728px;
  left: 263px;
  width: 498px;
  height: 50px;
  position: absolute;
  border-radius: 10px;
}
.formdonasi-text17 {
  top: 339px;
  left: 281px;
  color: rgba(114, 114, 114, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text19 {
  top: 739px;
  left: 281px;
  color: rgba(114, 114, 114, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1745 {
  top: 446px;
  left: 266px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-text21 {
  top: 20px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1746 {
  top: 566px;
  left: 266px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-text23 {
  top: 20px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1748 {
  top: 566px;
  left: 528px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-text25 {
  top: 20px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1747 {
  top: 446px;
  left: 527px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-text27 {
  top: 20px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-claritycopyline {
  top: 745px;
  left: 426px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.formdonasi-group1757 {
  top: 1158px;
  left: 449px;
  width: 126px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.formdonasi-group442 {
  top: 0px;
  left: 0px;
  width: 126px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(251, 188, 4, 1);
}
.formdonasi-text29 {
  top: 8px;
  left: 26px;
  color: rgba(7, 22, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-group1760 {
  top: 846px;
  left: 264px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-image24 {
  top: 22px;
  left: 28px;
  width: 176px;
  height: 50px;
  position: absolute;
}
.formdonasi-group1759 {
  top: 846px;
  left: 0px;
  width: 1024px;
  height: 757px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.formdonasi-rectangle6151 {
  top: 0px;
  left: 527px;
  width: 233px;
  height: 94px;
  position: absolute;
  border-radius: 10px;
}
.formdonasi-image25 {
  top: 22px;
  left: 563px;
  width: 161px;
  height: 50px;
  position: absolute;
}
.formdonasi-footer {
  top: 453px;
  left: 0px;
  width: 1024px;
  height: 304px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.formdonasi-ioncall {
  top: 194px;
  left: 747px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.formdonasi-text31 {
  top: 122px;
  left: 280px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text33 {
  top: 88px;
  left: 280px;
  color: rgba(240, 240, 240, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text35 {
  top: 63px;
  left: 751px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text37 {
  top: 118.82177734375px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text39 {
  top: 161px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text41 {
  top: 203.101806640625px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-line104 {
  top: 53px;
  left: 679px;
  width: 193px;
  height: 1px;
  position: absolute;
}
.formdonasi-text43 {
  top: 248px;
  left: 141px;
  color: rgba(240, 240, 240, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-template1x1lh322 {
  top: 13px;
  left: 31px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.formdonasi-vector {
  top: 248px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.formdonasi-vector1 {
  top: 112px;
  left: 750px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.formdonasi-vector2 {
  top: 155px;
  left: 750px;
  width: 25px;
  height: 19px;
  position: absolute;
}
.formdonasi-group1761 {
  top: 966px;
  left: 264px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-image26 {
  top: 27px;
  left: 18px;
  width: 195px;
  height: 40px;
  position: absolute;
}
.formdonasi-group1758 {
  top: 966px;
  left: 527px;
  width: 233px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.formdonasi-image27 {
  top: 7px;
  left: 40px;
  width: 152px;
  height: 80px;
  position: absolute;
}
.formdonasi-text45 {
  top: 1094px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-rectangle619 {
  top: 76px;
  left: 356px;
  width: 83px;
  height: 4px;
  position: absolute;
}
.formdonasi-headerafterlogin {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.formdonasi-akun-profile {
  top: 23px;
  left: 817px;
  width: 118px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.formdonasi-bipersoncircle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.formdonasi-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.formdonasi-vector3 {
  top: 4.5px;
  left: 7.5px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.formdonasi-vector4 {
  top: 4.440892098500626e-16px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.formdonasi-text47 {
  top: 2px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text49 {
  top: 22px;
  left: 92px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-template1x1lh324 {
  top: 13px;
  left: 39px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.formdonasi-text51 {
  top: 31px;
  left: 390px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text53 {
  top: 31px;
  left: 311px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text55 {
  top: 31px;
  left: 458px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text57 {
  top: 31px;
  left: 573px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.formdonasi-text59 {
  top: 31px;
  left: 664px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
