.homepagesudahlogin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.homepagesudahlogin-homepagesudahlogin {
  width: 100%;
  height: 2145px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homepagesudahlogin-group1751 {
  top: 1844px;
  left: 0px;
  width: 1024px;
  height: 301px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-group1736 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 301px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-group1725 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 301px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(7, 22, 51, 1);
}
.homepagesudahlogin-group1724 {
  top: 38px;
  left: 643px;
  width: 323px;
  height: 192.63999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-group1735 {
  top: 10px;
  left: 72px;
  width: 251px;
  height: 166.37086486816406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-group1702 {
  top: 0px;
  left: 0px;
  width: 110px;
  height: 161.9927215576172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-home1 {
  top: 50.34912109375px;
  left: 0px;
  width: 24px;
  height: 26px;
  position: absolute;
}
.homepagesudahlogin-email1 {
  top: 93.036376953125px;
  left: 0px;
  width: 24px;
  height: 26px;
  position: absolute;
}
.homepagesudahlogin-phonecall1 {
  top: 135.7236328125px;
  left: 0px;
  width: 24px;
  height: 26px;
  position: absolute;
}
.homepagesudahlogin-text {
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-group1722 {
  top: 55.82177734375px;
  left: 38px;
  width: 213px;
  height: 110.54908752441406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text002 {
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text004 {
  top: 84.280029296875px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text006 {
  top: 42.6875px;
  color: rgba(240, 240, 240, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: underline;
}
.homepagesudahlogin-line104 {
  top: 0px;
  left: 0px;
  width: 193px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-text008 {
  top: 122px;
  left: 263px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-group1703 {
  top: 253px;
  left: 38px;
  width: 450px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-group1726 {
  top: 0px;
  left: 0px;
  width: 450px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text010 {
  color: rgba(240, 240, 240, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-copyright1 {
  top: 0px;
  left: 40px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.homepagesudahlogin-text012 {
  top: 88px;
  left: 263px;
  color: rgba(240, 240, 240, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-logoentheger021 {
  top: 7px;
  left: 20px;
  width: 246px;
  height: 246px;
  position: absolute;
}
.homepagesudahlogin-infografis {
  top: 608px;
  left: 88px;
  width: 848px;
  height: 216px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-infografis1 {
  top: 0px;
  left: 364px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text014 {
  color: rgba(7, 22, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-kelurahan {
  top: 64px;
  left: 0px;
  width: 145px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text016 {
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text018 {
  top: 82px;
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line102 {
  top: 72px;
  left: 33px;
  width: 79px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-event {
  top: 64px;
  left: 176px;
  width: 145px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text020 {
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text022 {
  top: 82px;
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line1021 {
  top: 72px;
  left: 33px;
  width: 79px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-keluarga {
  top: 64px;
  left: 351px;
  width: 146px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text024 {
  color: rgba(7, 22, 51, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text026 {
  top: 82px;
  color: rgba(7, 22, 51, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line1022 {
  top: 72px;
  left: 33.2276611328125px;
  width: 80px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-jiwa {
  top: 64px;
  left: 527px;
  width: 145px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text028 {
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text030 {
  top: 82px;
  color: rgba(7, 22, 51, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line1023 {
  top: 72px;
  left: 33px;
  width: 79px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-donatur {
  top: 65px;
  left: 702px;
  width: 146px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-text032 {
  color: rgba(7, 22, 51, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text034 {
  top: 82px;
  color: rgba(7, 22, 51, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line1024 {
  top: 72px;
  left: 33.2275390625px;
  width: 80px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-text036 {
  top: 195px;
  left: 399px;
  color: rgba(28, 80, 59, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text037 {
  text-decoration: UNDERLINE;
}
.homepagesudahlogin-landing {
  top: 80px;
  left: 0px;
  width: 1024px;
  height: 481px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-mask-group {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 481px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.homepagesudahlogin-hunger11 {
  top: 0px;
  left: 0px;
  width: 1025px;
  height: 588px;
  position: absolute;
}
.homepagesudahlogin-donasi {
  top: 288.697021484375px;
  left: 50px;
  width: 145px;
  height: 34.9603271484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(7, 22, 51, 1);
}
.homepagesudahlogin-text039 {
  top: 8.30291748046875px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text041 {
  top: 82px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 1px 1px 2px 0px rgba(7, 22, 51, 0.5) ;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text043 {
  top: 105px;
  left: 50px;
  color: rgba(251, 188, 4, 1);
  width: 429px;
  height: auto;
  position: absolute;
  font-size: 32px;
  box-shadow: 1px 1px 2px 0px rgba(7, 22, 51, 0.5) ;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text045 {
  top: 207px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  width: 383px;
  height: auto;
  position: absolute;
  box-shadow: 1px 1px 2px 0px rgba(7, 22, 51, 0.5) ;
  text-align: left;
  line-height: normal;
}
.homepagesudahlogin-text047 {
  top: 333px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-donate {
  top: 871px;
  left: 0px;
  width: 1024px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.homepagesudahlogin-group1713 {
  top: 32px;
  left: 184px;
  width: 656px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-donate1 {
  top: 1px;
  left: 568px;
  width: 88px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(251, 188, 4, 1);
}
.homepagesudahlogin-text049 {
  top: 8px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text051 {
  color: rgba(7, 22, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-about-us {
  top: 1550px;
  left: 0px;
  width: 1024px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(210, 226, 255, 1);
}
.homepagesudahlogin-text053 {
  top: 227px;
  left: 886px;
  color: rgba(84, 65, 214, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text054 {
  text-decoration: UNDERLINE;
}
.homepagesudahlogin-text056 {
  top: 50px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-line101 {
  top: 68px;
  left: 264px;
  width: 672px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-text058 {
  top: 128px;
  left: 89px;
  color: rgba(0, 0, 0, 1);
  width: 847px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-template1x1lh321 {
  top: 5px;
  left: 36px;
  width: 66px;
  height: 66px;
  position: absolute;
}
.homepagesudahlogin-text060 {
  top: 1373px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 353px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text062 {
  top: 1373px;
  left: 555px;
  color: rgba(255, 255, 255, 1);
  width: 353px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text064 {
  top: 981px;
  left: 390px;
  color: rgba(7, 22, 51, 1);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text066 {
  top: 1002px;
  left: 291px;
  color: rgba(0, 0, 0, 1);
  width: 441px;
  height: auto;
  position: absolute;
  font-size: 39px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text068 {
  top: 1062px;
  left: 209px;
  color: rgba(0, 0, 0, 1);
  width: 605px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-group1764 {
  top: 1132.955078125px;
  left: 446px;
  width: 132.5576934814453px;
  height: 34.04487228393555px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(59, 162, 192, 1);
}
.homepagesudahlogin-text070 {
  top: 6.519230842590332px;
  left: 20.99994659423828px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text072 {
  top: 1200px;
  left: 474px;
  color: rgba(17, 44, 102, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text074 {
  top: 1213px;
  left: 370px;
  color: rgba(0, 0, 0, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text076 {
  top: 1261px;
  left: 290px;
  color: rgba(0, 0, 0, 1);
  width: 444px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-ellipse21 {
  top: 1326px;
  left: 198px;
  width: 72px;
  height: 71px;
  position: absolute;
}
.homepagesudahlogin-ellipse22 {
  top: 1326px;
  left: 547px;
  width: 73px;
  height: 71px;
  position: absolute;
}
.homepagesudahlogin-text078 {
  top: 1403px;
  left: 198px;
  color: rgba(0, 0, 0, 1);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text080 {
  top: 1403px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text082 {
  top: 1453px;
  left: 198px;
  color: rgba(7, 22, 51, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text084 {
  top: 1469px;
  left: 198px;
  color: rgba(0, 0, 0, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 7px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text086 {
  top: 1453px;
  left: 547px;
  color: rgba(7, 22, 51, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text088 {
  top: 1469px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 7px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text090 {
  top: 1344px;
  left: 274px;
  color: rgba(251, 188, 4, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 75px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text091 {
  top: 1344px;
  left: 623px;
  color: rgba(251, 188, 4, 1);
  width: 34px;
  height: auto;
  position: absolute;
  font-size: 75px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-rectangle661 {
  top: 1495px;
  left: 476px;
  width: 34px;
  height: 28px;
  position: absolute;
  border-color: rgba(7, 22, 51, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.homepagesudahlogin-iconly {
  top: 1519px;
  left: 503px;
  width: 19px;
  height: 19.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-iconly-light-arrow-right {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-iconly-light-arrow-right1 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19.999998092651367px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-arrow-right {
  top: 14.791914939880371px;
  left: 3.7604169845581055px;
  width: 10.04083251953125px;
  height: 11.875160217285156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-stroke1 {
  top: -4.603833198547363px;
  left: 4.440892098500626e-16px;
  width: 1px;
  height: 12px;
  position: absolute;
}
.homepagesudahlogin-stroke3 {
  top: 0px;
  left: 7.085576057434082px;
  width: 10px;
  height: 5px;
  position: absolute;
}
.homepagesudahlogin-rectangle662 {
  top: 1523px;
  left: 548px;
  width: 34px;
  height: 28px;
  position: absolute;
  border-color: rgba(7, 22, 51, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.homepagesudahlogin-iconly1 {
  top: 1499px;
  left: 522px;
  width: 18px;
  height: 18.999996185302734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-iconly-light-arrow-right2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18.999996185302734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-iconly-light-arrow-right3 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18.999996185302734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-arrow-right1 {
  top: 14.05231761932373px;
  left: 3.5625007152557373px;
  width: 9.538789749145508px;
  height: 11.250152587890625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-stroke11 {
  top: -4.373641014099121px;
  left: 4.440892098500626e-16px;
  width: 1px;
  height: 11px;
  position: absolute;
}
.homepagesudahlogin-stroke31 {
  top: 0px;
  left: 6.712651252746582px;
  width: 10px;
  height: 5px;
  position: absolute;
}
.homepagesudahlogin-vector1 {
  top: 1183px;
  left: 2px;
  width: 1020px;
  height: 1px;
  position: absolute;
}
.homepagesudahlogin-headerafterlogin {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.homepagesudahlogin-akun-profile {
  top: 23px;
  left: 817px;
  width: 118px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-bipersoncircle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepagesudahlogin-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepagesudahlogin-vector {
  top: 4.5px;
  left: 7.5px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.homepagesudahlogin-vector1 {
  top: 4.440892098500626e-16px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.homepagesudahlogin-text092 {
  top: 2px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text094 {
  top: 22px;
  left: 92px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-template1x1lh324 {
  top: 13px;
  left: 39px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.homepagesudahlogin-text096 {
  top: 31px;
  left: 390px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text098 {
  top: 31px;
  left: 311px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text100 {
  top: 31px;
  left: 458px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text102 {
  top: 31px;
  left: 573px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagesudahlogin-text104 {
  top: 31px;
  left: 664px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
