.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-login {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(50, 86, 97, 1);
}
.login-mask-group {
  top: -9.094947017729282e-13px;
  left: 0px;
  width: 937px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.login--ea--unvneik {
  top: -28.421052932739258px;
  left: -77.89241790771484px;
  width: 1093px;
  height: 1004px;
  position: absolute;
}
.login-group20 {
  top: 237px;
  left: 122px;
  width: 591px;
  height: 426px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.30000001192092896);
}
.login-section-title {
  top: 67px;
  left: 93px;
  width: 409px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-text {
  left: -43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  top: 32px;
  left: -43px;
  color: rgba(255, 255, 255, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.login-sign-in {
  top: 0px;
  left: 858px;
  width: 582px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-container1 {
  top: 0px;
  left: 0px;
  width: 582px;
  height: 900px;
  position: absolute;
}
.login-button {
  gap: 10px;
  top: 426px;
  left: 87px;
  width: 416px;
  height: 48px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(251, 188, 4, 1);
}
.login-text04 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-text-input {
  gap: 8px;
  top: 193px;
  left: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.login-frame985 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-text06 {
  color: var(--dl-color-light_textcolor-title);
  width: 384px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame590 {
  gap: 10px;
  display: flex;
  padding: 18px 24px 19px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.login-text08 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-group1756 {
  top: 748px;
  left: 989px;
  width: 320px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-group1753 {
  top: 0px;
  left: 189px;
  width: 131px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-text10 {
  left: 9px;
  color: rgba(84, 65, 214, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-sign-up {
  top: 1px;
  left: 0px;
  width: 192px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-text12 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-text-input1 {
  gap: 8px;
  top: 302px;
  left: 942px;
  width: 416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.login-frame9851 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-text14 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame971 {
  gap: 10px;
  height: 56px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.login-frame963 {
  gap: 167px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.login-frame952 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
.login-text16 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-group18 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-frame24basiceyeno {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-icon {
  top: 1.2928931713104248px;
  left: 0.8129652142524719px;
  width: 22px;
  height: 21px;
  position: absolute;
}
.login-group1750 {
  top: 369px;
  left: 109px;
  width: 276px;
  height: 276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-ellipse13 {
  top: 62.727264404296875px;
  left: 62.727264404296875px;
  width: 151px;
  height: 151px;
  position: absolute;
}
.login-logoentheger022 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-logoentheger0221 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 276px;
  position: absolute;
}
.login-text18 {
  top: 95px;
  left: 942px;
  color: var(--dl-color-light_textcolor-title);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-group1755 {
  top: 490px;
  left: 949px;
  width: 400px;
  height: 228px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-group25 {
  top: 123px;
  left: 0px;
  width: 400px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-button1 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 48px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.login-text20 {
  color: rgba(84, 65, 214, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-vector {
  top: 11px;
  left: 24px;
  width: 12px;
  height: 25px;
  position: absolute;
}
.login-group23 {
  top: 57px;
  left: 0px;
  width: 400px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-button2 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 48px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.login-text22 {
  color: var(--dl-color-light_textlinkcolor-purple);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.login-group22 {
  top: 13px;
  left: 17px;
  width: 20px;
  height: 20.000099182128906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-vector1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.login-vector2 {
  top: 0px;
  left: 1.1529541015625px;
  width: 16px;
  height: 8px;
  position: absolute;
}
.login-vector3 {
  top: 12.027099609375px;
  left: 1.0975341796875px;
  width: 16px;
  height: 8px;
  position: absolute;
}
.login-vector4 {
  top: 8px;
  left: 10px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.login-rememberme {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 228px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-text24 {
  left: 32px;
  color: rgba(124, 124, 138, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text26 {
  left: 254px;
  color: rgba(124, 124, 138, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text28 {
  top: 204px;
  left: 188px;
  color: rgba(124, 124, 138, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-checkbox {
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(59, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
