.profil-user-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profil-user-profil-user {
  width: 100%;
  height: 1512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profil-user-rectangle628 {
  top: 157px;
  left: 88px;
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 20px;
}
.profil-user-group1740 {
  top: 353px;
  left: 88px;
  width: 250px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-rectangle604 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 54px;
  position: absolute;
}
.profil-user-text {
  top: 176px;
  left: 369px;
  color: rgba(50, 86, 97, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-edit1 {
  top: 539px;
  left: 452px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profil-user-text02 {
  top: 220px;
  left: 369px;
  color: rgba(52, 53, 54, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1692 {
  top: 632px;
  left: 106px;
  width: 357px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16921 {
  top: 0px;
  left: 0px;
  width: 357px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group1690 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text04 {
  color: rgba(50, 86, 97, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text06 {
  top: 35px;
  color: rgba(52, 53, 54, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1695 {
  top: 545px;
  left: 106px;
  width: 303px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16922 {
  top: 0px;
  left: 0px;
  width: 303px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16901 {
  top: 0px;
  left: 0px;
  width: 103px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text08 {
  color: rgba(50, 86, 97, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text10 {
  top: 42.11864471435547px;
  color: rgba(52, 53, 54, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1693 {
  top: 713px;
  left: 106px;
  width: 142px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16923 {
  top: 0px;
  left: 0px;
  width: 142px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16902 {
  top: 0px;
  left: 0px;
  width: 138px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text12 {
  color: rgba(50, 86, 97, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text14 {
  top: 35px;
  color: rgba(52, 53, 54, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1694 {
  top: 794px;
  left: 106px;
  width: 130px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16924 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group16903 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text16 {
  color: rgba(50, 86, 97, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text18 {
  top: 35px;
  color: rgba(52, 53, 54, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text20 {
  top: 341px;
  left: 397px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1701 {
  top: 616px;
  left: 600px;
  width: 352px;
  height: 98px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-group1698 {
  top: 0px;
  left: 0px;
  width: 347px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text22 {
  top: 1px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text24 {
  left: 149px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text26 {
  left: 322px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1699 {
  top: 39px;
  left: 0px;
  width: 352px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text28 {
  top: 1px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text30 {
  left: 149px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text32 {
  left: 316px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-group1700 {
  top: 78px;
  left: 0px;
  width: 347px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text34 {
  top: 1px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text36 {
  left: 149px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text38 {
  left: 322px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text40 {
  top: 341px;
  left: 491px;
  color: rgba(92, 92, 92, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text42 {
  top: 560px;
  left: 600px;
  color: rgba(120, 120, 120, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text44 {
  top: 560px;
  left: 760px;
  color: rgba(50, 86, 97, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text46 {
  top: 257px;
  left: 368px;
  color: rgba(53, 119, 140, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text48 {
  top: 370px;
  left: 172px;
  color: rgba(240, 240, 240, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-frame22 {
  top: 345px;
  left: 376px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profil-user-group1689 {
  top: 341px;
  left: 369px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-ellipse2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: rgba(150, 150, 150, 1);
  border-style: solid;
  border-width: 1px;
}
.profil-user-vector {
  top: 5.555419921875px;
  left: 10px;
  width: 3px;
  height: 7px;
  position: absolute;
}
.profil-user-group1696 {
  top: 499px;
  left: 88px;
  width: 409px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text50 {
  left: 109px;
  color: rgba(50, 86, 97, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-line100 {
  top: 9.2958984375px;
  left: 0px;
  width: 100px;
  height: 1px;
  position: absolute;
}
.profil-user-line101 {
  top: 9.765380859375px;
  left: 309.4803466796875px;
  width: 100px;
  height: 1px;
  position: absolute;
}
.profil-user-group1697 {
  top: 500px;
  left: 585px;
  width: 381.00836181640625px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-text52 {
  left: 117px;
  color: rgba(50, 86, 97, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-line1001 {
  top: 9.2958984375px;
  left: 0px;
  width: 93px;
  height: 1px;
  position: absolute;
}
.profil-user-line1011 {
  top: 9.765380859375px;
  left: 288.29974365234375px;
  width: 93px;
  height: 1px;
  position: absolute;
}
.profil-user-rectangle610 {
  top: 994px;
  left: 176px;
  width: 672px;
  height: 121px;
  position: absolute;
}
.profil-user-text54 {
  top: 1040px;
  left: 234px;
  color: rgba(7, 22, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-footer {
  top: 1208px;
  left: 0px;
  width: 1024px;
  height: 304px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.profil-user-ioncall {
  top: 194px;
  left: 747px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.profil-user-text56 {
  top: 122px;
  left: 280px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text58 {
  top: 88px;
  left: 280px;
  color: rgba(240, 240, 240, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text60 {
  top: 63px;
  left: 751px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text62 {
  top: 118.82177734375px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text64 {
  top: 161px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text66 {
  top: 203.101806640625px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-line104 {
  top: 53px;
  left: 679px;
  width: 193px;
  height: 1px;
  position: absolute;
}
.profil-user-text68 {
  top: 248px;
  left: 141px;
  color: rgba(240, 240, 240, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-template1x1lh322 {
  top: 13px;
  left: 31px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.profil-user-vector1 {
  top: 248px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profil-user-vector2 {
  top: 112px;
  left: 750px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.profil-user-vector3 {
  top: 155px;
  left: 750px;
  width: 25px;
  height: 19px;
  position: absolute;
}
.profil-user-headerafterlogin {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.profil-user-akun-profile {
  top: 23px;
  left: 817px;
  width: 118px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-bipersoncircle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profil-user-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profil-user-vector4 {
  top: 4.5px;
  left: 7.5px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.profil-user-vector5 {
  top: 4.440892098500626e-16px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.profil-user-text70 {
  top: 2px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text72 {
  top: 22px;
  left: 92px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-template1x1lh324 {
  top: 13px;
  left: 39px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.profil-user-text74 {
  top: 31px;
  left: 390px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text76 {
  top: 31px;
  left: 311px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text78 {
  top: 31px;
  left: 458px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text80 {
  top: 31px;
  left: 573px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profil-user-text82 {
  top: 31px;
  left: 664px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
