.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-register {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(50, 86, 97, 1);
}
.register-mask-group {
  top: -9.094947017729282e-13px;
  left: 0px;
  width: 937px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.register--ea--unvneik {
  top: -28.421052932739258px;
  left: -77.89241790771484px;
  width: 1093px;
  height: 1004px;
  position: absolute;
}
.register-group20 {
  top: 237px;
  left: 122px;
  width: 591px;
  height: 426px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.30000001192092896);
}
.register-section-title {
  top: 67px;
  left: 93px;
  width: 409px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text {
  left: -43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.register-text02 {
  top: 32px;
  left: -43px;
  color: rgba(255, 255, 255, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.register-sign-in {
  top: 0px;
  left: 858px;
  width: 582px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-container1 {
  top: 0px;
  left: 0px;
  width: 582px;
  height: 900px;
  position: absolute;
}
.register-button {
  gap: 10px;
  top: 718px;
  left: 82px;
  width: 416px;
  height: 48px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(251, 188, 4, 1);
}
.register-text04 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-text-input {
  gap: 8px;
  top: 292px;
  left: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.register-frame985 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text06 {
  color: var(--dl-color-light_textcolor-title);
  width: 384px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame590 {
  gap: 10px;
  display: flex;
  padding: 18px 24px 19px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.register-text08 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-text10 {
  top: 94px;
  left: 84px;
  color: var(--dl-color-light_textcolor-title);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-text12 {
  top: 627px;
  left: 980px;
  color: rgba(128, 128, 139, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-text-input1 {
  gap: 8px;
  top: 400px;
  left: 941px;
  width: 416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.register-frame9851 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text14 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame971 {
  gap: 10px;
  height: 56px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.register-frame963 {
  gap: 167px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.register-frame952 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
.register-text16 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-group18 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-frame24basiceyeno {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-icon {
  top: 1.2928931713104248px;
  left: 0.8129652142524719px;
  width: 22px;
  height: 21px;
  position: absolute;
}
.register-text-input2 {
  gap: 8px;
  top: 505px;
  left: 941px;
  width: 416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.register-frame9852 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text18 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame9711 {
  gap: 10px;
  height: 56px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.register-frame9631 {
  gap: 167px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.register-frame9521 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
.register-text20 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-group181 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-frame24basiceyeno1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-icon1 {
  top: 1.2928931713104248px;
  left: 0.8129652142524719px;
  width: 22px;
  height: 21px;
  position: absolute;
}
.register-text-input3 {
  gap: 8px;
  top: 180px;
  left: 942px;
  width: 416px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.register-frame9853 {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text22 {
  color: var(--dl-color-light_textcolor-title);
  width: 384px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame5901 {
  gap: 10px;
  display: flex;
  padding: 18px 24px 19px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-light_fillscolor-textfield);
}
.register-text24 {
  color: var(--dl-color-light_textcolor-body2);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.register-rectangle598 {
  top: 622px;
  left: 941px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(28, 80, 59, 1);
  border-style: solid;
  border-width: 1px;
}
.register-group1750 {
  top: 369px;
  left: 109px;
  width: 276px;
  height: 276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-ellipse13 {
  top: 62.727264404296875px;
  left: 62.727264404296875px;
  width: 151px;
  height: 151px;
  position: absolute;
}
.register-logoentheger022 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-logoentheger0221 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 276px;
  position: absolute;
}
