.tentang-kami-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tentang-kami-tentang-kami {
  width: 100%;
  height: 1963px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.tentang-kami-text {
  top: 1812px;
  left: 747px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-ornamenaboutus {
  top: 1328px;
  left: 669px;
  width: 267px;
  height: 267px;
  position: absolute;
}
.tentang-kami-text02 {
  top: 1439px;
  left: 176px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text03 {
  font-weight: 400;
}
.tentang-kami-footer {
  top: 1659px;
  left: 0px;
  width: 1024px;
  height: 304px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.tentang-kami-ioncall {
  top: 194px;
  left: 747px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.tentang-kami-text08 {
  top: 122px;
  left: 280px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text10 {
  top: 88px;
  left: 280px;
  color: rgba(240, 240, 240, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text12 {
  top: 63px;
  left: 751px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text14 {
  top: 118.82177734375px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text16 {
  top: 161px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text18 {
  top: 203.101806640625px;
  left: 789px;
  color: rgba(240, 240, 240, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-line104 {
  top: 53px;
  left: 679px;
  width: 193px;
  height: 1px;
  position: absolute;
}
.tentang-kami-text20 {
  top: 248px;
  left: 141px;
  color: rgba(240, 240, 240, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-template1x1lh322 {
  top: 13px;
  left: 31px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.tentang-kami-vector {
  top: 248px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.tentang-kami-vector1 {
  top: 112px;
  left: 750px;
  width: 25px;
  height: 23px;
  position: absolute;
}
.tentang-kami-vector2 {
  top: 155px;
  left: 750px;
  width: 25px;
  height: 19px;
  position: absolute;
}
.tentang-kami-text22 {
  top: 1225px;
  left: 527px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text24 {
  top: 1225px;
  left: 213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text26 {
  top: 833px;
  left: 573px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text28 {
  top: 833px;
  left: 243px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-rectangle622 {
  top: 76px;
  left: 587px;
  width: 80px;
  height: 4px;
  position: absolute;
}
.tentang-kami-text30 {
  top: 214px;
  left: 320px;
  color: rgba(0, 0, 0, 1);
  width: 585px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.tentang-kami-text32 {
  top: 448px;
  left: 435px;
  color: rgba(7, 22, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-group1749 {
  top: 142px;
  left: 43px;
  width: 270px;
  height: 270px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tentang-kami-ellipse13 {
  top: 61.3636360168457px;
  left: 61.3636360168457px;
  width: 147px;
  height: 147px;
  position: absolute;
}
.tentang-kami-logoentheger022 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 270px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.tentang-kami-logoentheger0221 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 270px;
  position: absolute;
}
.tentang-kami-template1x1lh325 {
  top: 27.81818199157715px;
  left: 28.636363983154297px;
  width: 214px;
  height: 214px;
  position: absolute;
  border-radius: 130.5px;
}
.tentang-kami-rectangle651 {
  top: 532px;
  left: 192px;
  width: 283px;
  height: 284px;
  position: absolute;
  border-radius: 20px;
}
.tentang-kami-rectangle652 {
  top: 905px;
  left: 192px;
  width: 283px;
  height: 284px;
  position: absolute;
  border-radius: 20px;
}
.tentang-kami-rectangle653 {
  top: 532px;
  left: 556px;
  width: 283px;
  height: 284px;
  position: absolute;
  border-radius: 20px;
}
.tentang-kami-rectangle654 {
  top: 905px;
  left: 556px;
  width: 283px;
  height: 284px;
  position: absolute;
  border-radius: 20px;
}
.tentang-kami-headerafterlogin {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(7, 22, 51, 1);
}
.tentang-kami-akun-profile {
  top: 23px;
  left: 817px;
  width: 118px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tentang-kami-bipersoncircle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.tentang-kami-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tentang-kami-vector3 {
  top: 4.5px;
  left: 7.5px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.tentang-kami-vector4 {
  top: 4.440892098500626e-16px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.tentang-kami-text34 {
  top: 2px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text36 {
  top: 22px;
  left: 92px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-template1x1lh324 {
  top: 13px;
  left: 39px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.tentang-kami-text38 {
  top: 31px;
  left: 390px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text40 {
  top: 31px;
  left: 311px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text42 {
  top: 31px;
  left: 458px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text44 {
  top: 31px;
  left: 573px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tentang-kami-text46 {
  top: 31px;
  left: 664px;
  color: rgba(210, 226, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
